---
name: Secure by Compliance

on:
  workflow_dispatch:

permissions:
  id-token: none
  attestations: none
  contents: none

jobs:
  attest:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      attestations: write
      contents: read

    steps:
      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Setup bnd
        uses: carabiner-dev/actions/install/bnd@100bcc8d38102ef3ca2a997c04033308198666cd

      - name: Setup snappy
        uses: carabiner-dev/actions/install/snappy@100bcc8d38102ef3ca2a997c04033308198666cd

      - name: Generate branch rules attestation
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          mkdir -p attestations
          snappy snap builtin:github/branch-rules.yaml \
          -v BRANCH=${{ github.ref_name }} \
          -v REPO=${{ github.event.repository.name }} \
          -v ORG=${{github.repository_owner}} \
          --attest > attestations/branch-rules.intoto.json
          bnd statement attestations/branch-rules.intoto.json --out attestations/branch-rules.bundle.json
          bnd push github ${{github.repository}} attestations/branch-rules.bundle.json
          rm -f attestations/branch-rules.intoto.json attestations/branch-rules.bundle.json
        id: attest-branch-rules
      - name: Pack Attestations
        id: pack-attestations
        run: |
          bnd pack attestations/ > attestations.jsonl

      - name: Archive production artifacts
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: attestations.jsonl
          path: attestations.jsonl

      - uses: carabiner-dev/actions/ampel/verify@100bcc8d38102ef3ca2a997c04033308198666cd
        name: Evaluate Compliance
        id: osps-baseline-check
        with:
          subject: sha1:${{ github.sha }}
          collector: "jsonl:attestations.jsonl"
          policy: "git+https://github.com/marcusburghardt/github-standards#ampel_policies/branch-branch-protection.json"
          attest: true
          fail: false
