---
name: OSPS Compliance

on:
  workflow_dispatch:

permissions: {}

jobs:
  attest:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      attestations: write
      contents: read

    steps:
      - name: Setup bnd
        uses: carabiner-dev/actions/install/bnd@100bcc8d38102ef3ca2a997c04033308198666cd

      - name: Setup snappy
        uses: carabiner-dev/actions/install/snappy@100bcc8d38102ef3ca2a997c04033308198666cd

      - name: Check out code
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
        with:
          persist-credentials: false

      - name: Generate MFA attestation
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          mkdir attestations
          snappy snap builtin:github/mfa.yaml -v ORG=${{github.repository_owner}} --attest > attestations/mfa.intoto.json
          bnd statement attestations/mfa.intoto.json --out attestations/mfa.bundle.json
          bnd push github ${{github.repository}} mfa.bundle.json
          rm -f attestations/mfa.intoto.json
        id: attest-mfa

      - name: Generate branch rules attestation
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          snappy snap builtin:github/branch-rules.yaml -v BRANCH=main -v REPO=${{ github.event.repository.name }} -v ORG=${{github.repository_owner}} --attest > branch.intoto.json
          bnd statement attestations/branch.intoto.json --out attestations/branch.bundle.json
          bnd push github ${{github.repository}} branch.bundle.json
          rm -f attestations/branch.intoto.json
        id: attest-branch

      - name: "Generate Scorecard Attestation"
        env:
          GITHUB_TOKEN: "${{ secrets.GITHUB_TOKEN }}"
        run: |
          scorecard --repo=${{ github.event.repository.full_name }} --format=intoto > attestations/scorecard.intoto.json
          bnd statement attestations/scorecard.intoto.json --out attestations/scorecard.bundle.json
          bnd push github ${{github.repository}} scorecard.bundle.json
          rm -f attestations/scorecard.intoto.json
        id: attest-scorecard

      - name: Pack Attestations
        id: pack-attestations
        run: |
          bnd pack attestations/ > attestations.jsonl

      - uses: carabiner-dev/actions/ampel/verify@100bcc8d38102ef3ca2a997c04033308198666cd
        name: Evaluate Compliance
        id: osps-baseline-check
        with:
          subject: sha1:${{ github.sha }}
          collector: "jsonl:attestations.jsonl"
          policy: "git+https://github.com/carabiner-dev/policies#sets/baseline/osps-baseline.policy.json"
          attest: true
          fail: false
