name: Dependencies Review Trigger

# --------------------------------------------------------------------------
# Use pull_request_target to ensure the workflow runs with permissions
# from the BASE repository, which is necessary for creating reviews,
# adding labels, and commenting, even on PRs from a fork.
# --------------------------------------------------------------------------
on:
  pull_request_target:
    types: [opened, reopened, synchronize]
    branches:
      - main

jobs:
  call_deps_reviewer:
    name: Call Dependencies Review Workflow
    uses: marcusburghardt/github-standards/.github/workflows/reusable_deps_reviewer.yml@main

  call_dependabot_reviewer:
    name: Call Dependabot Review Workflow
    uses: marcusburghardt/github-standards/.github/workflows/reusable_dependabot_reviewer.yml@main

  comment_dependencies_review:
    runs-on: ubuntu-latest
    needs: call_deps_reviewer
    permissions:
      issues: write
    steps:
      - name: Comment from Dependencies Reviewer
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        env:
          REVIEW_CONCLUSION: ${{ needs.call_deps_reviewer.outputs.review_conclusion }}
          REVIEW_SUMMARY: ${{ needs.call_deps_reviewer.outputs.review_summary }}
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
             **Standardized Dependencies Review Summary** 

            - **Dependencies Review Conclusion:** **${{ env.REVIEW_CONCLUSION }}**

            ---

            Dependencies Review Summary
            ${{ env.REVIEW_CONCLUSION }}

  comment_on_dependabot_prs:
    if: github.actor == 'dependabot[bot]'
    runs-on: ubuntu-latest
    needs: call_dependabot_reviewer
    permissions:
      issues: write
    steps:
      - name: Comment from Dependabot Reviewer
        uses: peter-evans/create-or-update-comment@71345be0265236311c031f5c7866368bd1eff043 # v4.0.0
        env:
          RISK_LEVEL: ${{ needs.call_dependabot_reviewer.outputs.risk_level }}
          UPDATES_COUNT: ${{ needs.call_dependabot_reviewer.outputs.updates_count }}
          #REPOSITORIES: ${{ needs.call_dependabot_reviewer.outputs.repositories }}
        with:
          issue-number: ${{ github.event.pull_request.number }}
          body: |
             **Standardized Dependabot Review Summary** 

            This PR was processed by the organization's reusable CI pipeline.

            - **Calculated Risk:** **${{ env.RISK_LEVEL }}**
            - **Dependency Usage:** **${{ env.UPDATES_COUNT }}** repositories are using this dependency version

            ---

            Maintainer check list:
            1. Ensure the PR passed all CI tests (required status checks).
            2. Investigate failures for Major updates or any manual review requirement.
            3. Don't overlook breaking changes and changelog information.
            4. If the scorecard value is low, consider to contribute to make it higher. Everybody wins!
            5. Be diligent. When in doubt, ask another maintainer for additional review.
      - run: echo ${{ needs.job1.outputs.firstword }} ${{ needs.job1.outputs.secondword }}
